.mui-card {
padding: 2%;
overflow: hidden;
height: 700px;

}

  .mui-card img {
    max-width: 100%;
    height: fit-content;
    display: block;

  }

 .dagligdag-slider{
  max-width: 100%;
  margin: 3%;
  justify-content: center;
  align-content: center;
  text-align: center;
 }

 .slide {
  display: flex;
  background-color: antiquewhite;


 }

 .slide-content {
   justify-content: center;
  align-content: center;
  text-align: center;
 
 }

 .arrows {
  justify-content:space-evenly;
  width: 50px;
  padding: 30px;
 }