.friskole {
  margin: 100px 5%;
  border-radius: 10px;
  background: linear-gradient(to right, #ddf0b6b4, #d3f192a6, #a0d6fab9, #b9e45e80),
    url('../assets/fusfri-billeder/fusfri-boernehave-lejr-2015-795px-_9.jpeg');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.fag-kort {
  padding-inline: 2%;
  padding-bottom:5%;
  margin-bottom: 5em;
  background: linear-gradient(36deg, rgba(125, 166, 176, 1) 0%, rgba(178, 217, 226, 1) 49%, rgba(223, 249, 255, 1) 100%);
  
  transition: ease 2s;

}

.scroll::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #2e5c7a;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(255, 221, 221, 0.25);
}

.scroll {
  max-width: 100%;
  background-color: rgb(197, 224, 197);
  display: flex;
  flex-wrap: nowrap;
  /* Ensure no wrapping of cards */
  overflow-x: auto;
  border-radius: 8px;
  margin-top: 5%;
  padding: 5em;


}

.fag-kort:hover {
  transform: translateX(-2rem);
}

.fag-kort:hover~.fag-kort {
  transform: translateX(30px)
}


.dagligdag-slider {
  margin: 3%;
  justify-content: center;
  align-content: center;
  text-align: center;
  transition: ease .2s;
}

.slide {
  display: flex;
  background: linear-gradient(36deg, rgba(224, 249, 255, 0.637) 0%, rgb(196, 215, 219) 49%, rgba(223, 249, 255, 0.616) 80%);
  margin-left: 20%;
  margin-right: 20%;
}

.arrow {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 16px;
}

.gif-skole {
  max-width: 50%;
}


.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-content {
  text-align: center;
}

.comment-container {
  text-align: center;
  margin-top: 2%;
  flex-wrap: wrap;
  display: block;
  justify-content: center;
  align-items: center;

}

.comment-textbox {
  width: 50%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.comment-button {
  background: linear-gradient(to right, #7a9c36b4, #94b949a6, #afd857d3);
  color: #734434;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-button:hover {
  background-color: #5c7822;
  /* Mørkere nuance on hover*/
}


/* Responsivt design for mindre skærme */
@media (max-width: 768px) {
  .error-content {
    padding: 0 20px;
  }
}


/*Responsive*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles for screens 320px to 480px here */



  .slide {
    margin-left: 2%;
    margin-right: 2%;
  }

  .scroll {
    margin: 0%;
    width: 100%;
  }

  .gif-skole {
    max-width: 100%;
  }

  .fag-kort {
    max-width: 100%;
  }

  .friskole {
    flex-wrap: wrap,
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .friskole {
    flex-wrap: wrap,
  }

  /* Styles for screens 768px to 1024px here */
}